@import url('vars');
.burger {
  position: relative;
  width: 40px;
  height: 30px;
  display: none;
  background: transparent;
  cursor: pointer;
}

.burger input {
  display: none;
}

.burger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: black;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.burger span:nth-of-type(1) {
  top: 0px;
  transform-origin: left center;
}

.burger span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
}

.burger span:nth-of-type(3) {
  top: 100%;
  transform-origin: left center;
  transform: translateY(-100%);
}

.burger input:checked ~ span:nth-of-type(1) {
  transform: rotate(45deg);
  top: 0px;
  left: 5px;
}

.burger input:checked ~ span:nth-of-type(2) {
  width: 0%;
  opacity: 0;
}

.burger input:checked ~ span:nth-of-type(3) {
  transform: rotate(-45deg);
  top: 28px;
  left: 5px;
}

.header {
  position: absolute;
  left: 60px;
  z-index: 5;
}
.header-content {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.header-content-oneBlock {
  margin-left: 120px;
  h3 {
    font-weight: 600;
    font-size: 20px;
    margin: 10px 0;
  }
  a {
    color: #684e3f;
    position: relative;

    &:hover:after {
      transform: scaleX(1);
    }
    &::after {
      transform-origin: left;
      transition: 0.3s ease;
      content: '';
      width: 100%;
      position: absolute;
      height: 2px;
      bottom: -5px;
      left: 0;
      background-color: #684e3f;
      transform: scale(0);
    }
  }
  p {
    font-size: var(--text);
    font-weight: 400;
    margin-top: 5px;
  }
}
.img-cont {
  margin-left: 50px;
  display: flex;
  position: relative;
  top: -20px;

  img {
    margin-left: 20px;
    cursor: pointer;
  }
}
.header-content-oneBlock.img {
  position: relative;
  top: -20px;
  p {
    width: 160px;
    text-align: center;
    margin-left: 45px;
  }
}
nav {
  margin-top: 40px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(108, 82, 62, 0.5);

  ul {
    display: flex;
    align-items: center;
    a {
      margin-right: 150px;

      font-weight: 400;
      display: inline-block;
      text-transform: uppercase;
      color: var(--black);
      position: relative;

      &:hover:after {
        transform: scale(1);
      }
      &::after {
        transform-origin: left;
        transition: 0.3s ease;
        content: '';
        width: 100%;
        position: absolute;
        height: 2px;
        bottom: -5px;
        left: 0;
        background-color: #684e3f;
        transform: scale(0);
      }
    }
  }
}

@media (max-width: 420px) {

  .img-cont {
    top: 20px;
    left: -120px;
  }
  .header {
    left: 0;
  }
  .logo {
    width: 108px;
    height: 81px;
  }
  .container {
    padding: 0 15px;
  }
  .burger {
    display: block;
    margin-left: -80px;
    & span{
      background-color: #fff;
    }
  }
  .header-content{
    border-bottom: 1px solid rgba(108, 82, 62, 0.5);
    padding-bottom: 10px;
    position: relative;
    z-index: 25;
    width: 380px;
  }
  nav{
    border-bottom: 0px solid rgba(108, 82, 62, 0.5);
    background-color: #646464ad;
    margin-top: -133px;
    margin-left: -20px;
    height: 0px;
    position: relative;
    z-index: 10;
    transition: .4s ease;
    &.open{
      height: 660px;
      width: 420px;
    }
 
    ul{
      flex-direction: column;
      width: 550px;
      padding-top: 100px;
      height: 600px;
      display: none;
      &.open{
        display: inline-block;
      }
    
      li{
        margin-top: 45px;
        margin-left: 140px;
        a{
          color: #fff;
          font-size: 25px;
          &:after{
            background-color: #000;
          }
        }
      
      }
    }
  }
}
