.container {
  margin: 0 auto;
  width: 1700px;
}
body {
  font-family: 'Roboto', sans-serif;

}
.mobila {
  display: block;
}
.desctop {
  display: none;
}

@media (max-width: 420px) {
  html, body {
    overflow-x: hidden;
  }
  body {
    position: relative
  }
  .container{
    width: 450px;
  }
  .modila {
    display: none !important;
  }

  .desctop {
    display: block;
  }
}
